div.footer-wrapper > span:nth-child(1) {
  display: none;
}

div.footer-wrapper > span:nth-child(2) {
  display: none;
}

header > div.nav-item.navbar-links-wrapper > div:has(.search-box) {
  display: none;
}
